*.log
*.pot
*.pyc
__pycache__
db.sqlite3
node_modules
venv
.my_pgpass
.pg_service.conf
.idea/
.env
.vscode/
user_adding.json
staticfiles/
storage/
logs/
product_image/
*.sql
conf/
runserver.sh
dongxanh-50d46-firebase-adminsdk-1roce-33540b42ce.json
test/
