{% extends 'layouts/layout.html' %}
{% block header-content %}{% endblock %}
{% block content %}
    <h1 class="text-3xl text-green-600">This is Draft page</h1>
    <a href="{% url "draft:create_draft" %}"><h2>Create Draft</h2></a>
    <div>
        {% for draft in drafts %}
            <div class="card-simple w-[480px]">
                <h2 class="card-title">{{ draft.title }}</h2>
                <a href="{% url "draft:draft_item" id=draft.id %}">Edit</a>
                <div class="card-content">
                    <p>{{ draft.content }}</p>
                    <p>{{ draft.purpose }}</p>
                    <p>{{ draft.no }}</p>
                    <p>List group: </p>
                    <ul style="list-style-type:circle; margin-left: 1.5em">
                        {% for group in draft.group.all %}
                            <li>{{ group }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
