{% extends 'layouts/layout.html' %}
{% block header-content %}{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title</label>
            <input name="title" id="id_title" type="text" value="{{ draft.title }}">
        </div>
        <div class="form-group">
            <label for="id_content">Content</label>
            <input name="content" id="id_content" type="text" value="{{ draft.content }}">
        </div>
        <div class="form-group">
            <label for="id_purpose">Purpose</label>
            <input name="purpose" id="id_purpose" type="text" value="{{ draft.purpose }}">
        </div>
        <div class="form-group">
            <label for="id_no">Value</label>
            <input name="no" id="id_no" type="number" value="{{ draft.no }}">
        </div>
        <div class="form-group">
            {{ form.group.label_tag }}
            {{ form.group }}
        </div>
        <button type="submit" class="w-auto h-full py-4 px-12 bg-slate-300 rounded-md font-medium text-slate-800">Update
        </button>
    </form>
    <form action="{% url "draft:draft_delete" id=draft.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="w-auto h-full py-4 px-12 bg-slate-300 rounded-md font-medium text-slate-800">Delete
        </button>
    </form>
{% endblock %}
